@import '../../styles/variables';

.wrapper {
  display: grid;
  gap: 2rem 4rem;
  align-content: start;

  .user {
    display: flex;
    align-items: center;
    flex-direction: column;
    isolation: isolate;
    position: relative;

    .online {
      align-self: flex-start;
      position: absolute;
      z-index: 1;
    }

    .message {
      position: absolute;
      align-self: flex-end;
      z-index: 1;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .nickname {
        position: relative;
        display: flex;
        align-items: center;
        .dot {
          position: absolute;
          right: -1em;
        }
      }
      .additional {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3em;
        opacity: 0.7;

        .location {
          display: flex;
          align-items: center;
        }
      }
    }
    .danger {
      @include flex-column-all-center;
      gap: 8px;
      margin-top: 3rem;
    }
  }

  .posts {
    margin-bottom: 3rem;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    .posts {
      margin-bottom: 4rem;
    }

    .user {
      grid-row: span 2;
    }

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}
