.register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .card {
    padding: 1rem;
    min-width: clamp(240px, 80vw, 380px);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}