@import '../../css_variables/variables';

.processing-wrapper {
  width: 100%;
  height: calc(100vh - #{($header-height + px)} - #{($footer-height + px)});
  @include flex-all-center;
  @include user-select-none;

  .processing-heading {
    font-size: 40px;
    color: deeppink;
  }
}