@import '../../css_variables/variables';

.wrapper {
  display: grid;
  gap: 0rem 3rem;
  min-width: 100%;

  grid-template-areas: 
  "settings-avatar"
  "settings-nickname"
  "settings-danger"  
  "settings-inputs";  

  .avatar {
    grid-area: settings-avatar;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nickname {
    grid-area: settings-nickname;
    line-height: 1;
    margin-bottom: 3rem;
    text-align: center;
    font-size: clamp(2rem, 12vw, 4rem);
    font-weight: 600;
    opacity: 0.6;
    text-transform: uppercase;
  }

  .danger {
    grid-area: settings-danger;
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    justify-self: center;
    gap: 1rem;
    margin-bottom: 4rem;
  }  

  .inputs {
    grid-area: settings-inputs;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .updateBtn {
      align-self: end;
    }
  }
    @media screen and (min-width: $mobile-breakpoint) {
      grid-template-areas: 
        "settings-avatar settings-inputs"
        "settings-nickname settings-inputs"
        "settings-danger settings-inputs";

      grid-template-columns: auto 1fr;
      // grid-template-rows: auto 1fr;
  
      min-width: calc(min(100%, 900px));
  
      .nickname {
        align-self: flex-start;
      }
  }
}
