.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .comment {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;

    .commentText {
      .date {
        font-size: 0.8em;
        opacity: 0.7;
      }
    }
    .commentActions {
      display: flex;
      flex-wrap: wrap;
    }
    
    &:not(:hover) {
      .commentActions {
        opacity: 0;
      }
    }    
  }


  .noComments {
    padding-top: 2rem;
  }
}