.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .comment {
    display: grid;
    grid-template-columns: auto 1fr auto;

    .commentText {
      .additional {
        font-size: 0.8em;
        opacity: 0.7;
        .date {
          display: flex;
          gap: 0.5rem 1rem;
        }
      }
    }
    .commentActions {
      display: flex;
      flex-wrap: wrap;
    }
    
    &:not(:hover) {
      .commentActions {
        opacity: 0;
      }
    }    
  }


  .noComments {
    padding-top: 2rem;
  }
}