@import '../../styles/variables';
.logo {
  display: flex;
  gap: 0.5rem;

  .logo_text {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: end;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    .rs {
      font-weight: 600;
    }
  }
  .logo_img {
    background-image: url('../../assets/network.png');
    height: 2.5em;
    width: 2.5em;
    background-size: cover;
  }

  &.responsive {
    @media screen and (max-width: $mobile-breakpoint) {
      .logo_text {
        display: none;
      }
    }
  }
}
