.post {
  .media {
    display: flex;
    max-height: 600px;
  }
  .heading {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.7;
    padding: 1rem 1rem 0.5rem 1rem;
  }
  .subHeading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em 1rem;
    padding: 0 1rem;
    font-size: 0.8em;
    .author {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 0.3em;
      margin-right: auto;
      .nickname {
        opacity: 0.7;
        margin-right: auto;
        text-transform: uppercase;
      }
    }
  }

  .body {
    padding: 2rem 1rem;
    display: inline-block;
    word-break: break-word;
  }
}
