.DraftEditor-root {
  min-height: calc(min(300px, 30vh));
  overflow-y: auto;

  .DraftEditor-editorContainer,
  .public-DraftEditor-content {
    height: 100%;
  }
}

.readonly-wrapper .DraftEditor-root {
  min-height: auto;
}
