@import '../../styles/variables';

.footer {
  width: 100%;
  height: var(--footer-height);
  padding: 0.5rem 1.5rem;
  @include flex-line-spacebetween-vertical-center;
  @include user-select-none;
  font-size: clamp(0.6rem, 4vw, 0.9rem);
  gap: 1rem;
  z-index: 1;
  position: fixed;
  bottom: 0;
  transition: background-color 0.5s linear;

  a {
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }

  p {
    opacity: 0.8;
  }

  .rssLink {
    height: 1.2em;
    width: 3.2em;
    margin-left: auto;
    background-image: url(../../assets/rs_school_js.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .lastName {
      display: none;
    }
  }
}
