.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;

  .messages {
    --message-margin: 20%;
    min-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0.5rem;
    min-width: 180px;
    min-height: 280px;

    .message {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5rem;
      padding: 1em 1.2em;
      border-radius: 1em;
      border-bottom-left-radius: 0em;
      margin-right: var(--message-margin);


      .text {
        display: flex;
        flex-direction: column;
        gap: 0.5em;        
        .name {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 0.5em 1em;

          .nickname{
            text-transform: uppercase;
            font-weight: bold;
          }
          .date {
            font-size: 0.7em;
            opacity: 0.7
          }
        }
      }      
      &.self {
        margin-left: var(--message-margin);
        margin-right: 0;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 0em;
      }
   }
  }

  &.collapsed {
    height: 0;
    margin-top: 0;
  }
}