.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-width: clamp(240px, 80vw, 380px);
  }
}