@import '../../css_variables/variables';

.page-404-wrapper {
  width: 100%;
  height: 100vh;
  @include flex-column-all-center;
  @include user-select-none;

  .page-404-h1 {
    margin: 30px 15px;
    font-size: 63px;
    text-transform: uppercase;
  }

  .page-404-h2 {
    margin-bottom: 15%;
  }

  .more-link {
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 0;
    border: none;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;

    &:hover {
      cursor: pointer;
    }
  }
}