.content {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .avatarList {
    display: grid;
    align-self: stretch;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 4rem);
    grid-template-rows: repeat(auto-fill, 4rem);
    gap: 1rem;

    .avatarItem {
      transition: transform 0.3s;
      cursor: pointer;
      &.selected {
        outline: 3px solid paleturquoise;
        transform: scale(1.2);
      }
    }
  }
}
