@import '../../css_variables/variables';

.header {
  position: absolute;

  .toolbar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    gap: 0.3rem;
    .logo {
      margin-right: auto;
      font-size: 1.2rem;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.1em;

    }
    .userButton {
      display: flex;
      gap: 0.5em;
      margin-left: 0.5em;
      min-width: 2rem;
      min-height: 2rem;
      width: auto;
      .nickname {
        text-transform: none;
        font-weight: 600;
      }
    }
    @media screen and (min-width: $mobile-breakpoint) {
      .logo {
        font-size: 2rem;
        white-space: nowrap;
      }
    }
  }

  &.focused {
    .logo {
      @media screen and (max-width: 900px) {
        visibility: hidden;
        width: 0;  
      }
    }
    .language, .userButton {
      @media screen and (max-width: $mobile-breakpoint) {
        display: none;
      }
    }
  }
}