.dialog {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    gap: 0.5rem;

    .media {
      display: flex;
      grid-template-columns: auto;
      align-items: center;

      .file {
        margin-left: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
