$mobile-breakpoint: 600px;

:root {
  --header-height: 56px;
  --footer-height: 46px;
  --max-page-width: 1100px;

  @media screen and (min-width: $mobile-breakpoint) {
    --header-height: 64px;
  }
}

// mixins
// flex row mixins
@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-line-center-vertical-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-line-center-vertical-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-line-start-vertical-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-line-start-vertical-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-line-start-vertical-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin flex-line-end-vertical-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-line-spacebetween-vertical-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

// flex column mixins
@mixin flex-column-all-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-line-center-vertical-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-column-line-start-vertical-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flex-column-line-center-vertical-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-column-line-start-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-column-line-end-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@mixin flex-column-line-end-vertical-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

@mixin flex-column-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-column-line-center-vertical-spacebetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

// other
@mixin user-select-none {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
