@import './variables';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  margin-top: var(--header-height);
  padding: 2rem 1rem 0 1rem;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: auto;

  & > div {
    min-width: 100%;
    margin: 0 auto;
  }

  &::after {
    content: '';
    height: 2rem;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    padding: 3rem 2rem 0 2rem;

    & > div {
      min-width: calc(min(100%, var(--max-page-width)));
    }
  }
}